@import url('https://fonts.googleapis.com/css?family=Tajawal|Poppins:700');

html, body {
  margin: 0px;
  padding: 0px;
  font-family: 'Tajawal', serif;
  position: relative;
  padding-top: 35px;
  color: #555;
  /* background-color: #f5f5f5 !important; */
  height: 100%;
}

div.page-wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

div.page-wrapper div.content-body {
  flex-grow: 1;
}

p {
  font-size: 18px;
}

#header {
  background-color: rgb(255, 255, 255);
  /* box-shadow: 0px 0px 10px 5px rgb(245, 245, 245); */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  padding-bottom: 10px;
  border-bottom: 1px solid #e1e8ef;
}

.header-wrapper {
  padding-top: 15px;
/*   background-color: #fff; */
/*   box-shadow: 0px 0px 10px 15px rgba(255,255,255,0.9); */
}

#header h1 {
  margin: 0px;
  padding: 0px;
  font-size: 30px;
  padding-bottom:  5px;
  font-family: 'Poppins', sans-serif;
  /* color: #46b52e; */
}

#header h1 a {
  color: #444444;
}
#header h1 a:hover {
  color: #46b52e;
  text-decoration: none;
}

#header p {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  color: #666;
}

.content-body {
  padding: 20px;
}

#footer {
  text-align: center;
  padding: 20px;
  padding-top: 30px;
  background-color: #ffffff;
  border-top: 1px solid #e1e8ef;
}

.article-snippet {
  padding: 10px 0px;
  background-color: #fff;
}


.article-snippet h1 {
  margin-bottom: 0px;
  padding-bottom: 2px;
}

.article-snippet p {
  color: #666;
}

.article-snippet h1 a:hover {
  text-decoration: none;
}

.main-title {
  font-size: 35px;
  line-height: 50px;
  font-family: 'Poppins', sans-serif;
  color: #444;
}

a.main-title:hover {
  color: #44b52e;
}

.diyfont {
  font-family: 'Poppins', sans-serif;
}

.pt20 {
  padding-top: 20px;
}

.login-form-wrapper {
  padding-top: 100px;
}

.login-form h1 {
  margin-bottom: 20px;
}

.input-control {
  border: 0px;
  border-bottom: 4px solid #444;
  outline: none;
  display: block;
  width: 100%;
  font-size: 18px;
  margin-bottom: 40px;
  font-family: 'Poppins', sans-serif;
}

.input-control:focus {
  border-color: #44b52e;
}


.button-control {
  border: 4px solid #444;
  font-family: 'Poppins', sans-serif;
  padding: 7px 50px;
}

.note-toolbar {
  background-color: #fff !important;
  border: 0px !important;
}

.note-editor {
  border: 0px !important;
}

.story-form div.story-title input {
  display: block;
  width: 100%;
  margin: 20px 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  letter-spacing: 0.4px;
  outline: none;
  border: 0px;
}